.complete__component{
  border: 1px solid rgb(197, 197, 197);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
  margin: 10px auto 10px auto;
  @media all and (min-width: 768px){
    width: 748px;
    margin: 35px auto 0 auto;
  }
}

.complete__component:nth-last-child(1n){
  @media all and (min-width: 768px){
    margin-bottom: 20px;
  }
}