<div *ngIf="passengerInfo" class="passenger__and__payment">
    <div class="complete__profile">
        <h1 class="title">PASSENGER INFO</h1>
        <div class="profile">
            <img class="profile__img" [src]="passengerInfo.profileImage" alt="profile image">
            <div class="name__interactions">
                <p>{{ passengerInfo.completeName }}</p>
                <p class="interactions">{{ passengerInfo.interactions }} interactions</p>
            </div>
        </div>
        <div class="profile__info">
            <div class="email">
                <p class="email__info">EMAIL</p>
                <p>{{ passengerInfo.email }}</p>
            </div>
            <div class="phone">
                <p class="phone__info">PHONE</p>
                <p>{{ passengerInfo.phone }}</p>
            </div>
            <div class="location">
                <p class="location__info">LOCATION</p>
                <p>{{ passengerInfo.location }}</p>
            </div>
        </div>
    </div>
    <div class="payment">
        <paymentMethods [index]="index"></paymentMethods>
    </div>
</div>
