.travel__info{
    border-top: 1px solid rgb(153, 153, 153);
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    @media all and (min-width: 768px){
        margin: 0 123px;
    }
    .title__travel{
        color: rgb(167, 165, 165);
    }
}